body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 200px;
    border-radius: 20px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    background: #e2c6ff;
    color: #3d0066;
    border-bottom: 6px solid #9ba9ff;
    border-right: 6px solid #9ba9ff;
    text-shadow: 2px 2px 4px #a06cd5;
    border-radius: 30px;    
}
